# Ignore virtual environment
venv/

# Ignore media files
media/

# Ignore Python cache files
__pycache__/

# Ignore SQLite database
*.sqlite3

# Ignore macOS system files
.DS_Store

.env

migrations/

staticfiles/

singbirds_project/local_settings.py
